<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/board.css">
    <title>Document</title>
</head>
<body>
    <p><%= user %></p>
    <div class="threads">
        <div id="create-thread">
            <input type="text">
            <div id="post-container">
                <div class="image-label-wrapper">
                    <label for="image-input" id="image-input-label"></label>
                </div>
                <input id="image-input" type="file" name="image-input" accept="image/png, image/jpeg"/>
                <input type="text" name="" id="">
            </div>
            <p id="create-thread-button">NEW THREAD</p>
        </div>
        <% threads.forEach((thread) => { %>
        <div class="thread-row">
            <a href="/<%= board_id %>/<%= thread.id %>"><%= thread.id %></a> 
        </div>
        <% }); %>
    </div>
    <script>
        function generateId() {
            const set = "0123456789";
            let id = "";

            for (let i = 0; i < 8; i++) {
                const randomi = Math.floor(Math.random() * set.length);
                id += set[randomi];
            }

            return id;
        }

        document.getElementById('create-thread-button').addEventListener('click', () => {
            const id = generateId();
            
            const data = {
                id: id
            }
            fetch('', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
            .then(res => {
                if (res.status == 200) {
                    // location.reload()
                    var div = document.createElement("div");
                    div.className = "thread-row";
                    let newThreadRow = document.createElement('a');
                    newThreadRow.href = `/<%= board_id %>/${id}`;
                    newThreadRow.textContent = id;
                    div.appendChild(newThreadRow);
                    document.querySelector('.threads').appendChild(div);
                }
            })
        });
    </script>
</body>
</html>