<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/board.css">
    <title><%= board %></title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="row">
        <div class="threads">
            <% threads.sort((a, b) =>  new Date(b.createdat) - new Date(a.createdat)); %>
            <% threads.forEach((thread) => { %>
                <div onclick="window.location='/<%= board %>/<%= thread.id %>'" class="thread">
                    <div class="header">
                        <h3><%= thread.title %></h3>
                        <% if (thread.description) { %>
                            <span>-</span>
                            <h4><%= thread.description %></h4>
                        <% } %>
                    </div>
                    <div class="info">
                        <div class="block">
                            <span class="user-icon"></span>
                            <p><%= thread.created_by ? thread.created_by : 'Anonymous' %></p>
                        </div>
                        <div class="block">
                            <span class="timer-icon"></span>
                            <p class="countdown-timer" data-created-at="<%= thread.createdat %>"></p>
                        </div>
                        <div class="block">
                            <span class="reply-icon"></span>
                            <p>: <%= thread.dataValues.postsCount %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <div class="new-thread-container">
        <div class="new-container">
            <h3>Creating a new discussion thread on the <board><%= board %></board> board...</h3>
            <div class="divider"></div>
            <p id="new-title-p">Title*</p>
            <textarea name="" id="new-title" placeholder="Title"></textarea>
            <p>Description</p>
            <textarea name="" id="new-description" rows="5" placeholder="Description"></textarea>
            <button id="new-thread-button">Create Thread</button>
            <!-- <p>Custom ID</p>
            <div class="custom-url-container">
                <input type="checkbox">
                <textarea name="" id="custom-url"></textarea>
            </div> -->
        </div>
        <div class="new-thread-icon">
            <span></span>
        </div>
    </div>
    <script>
        function generateId() {
            const set = "0123456789";
            let id = "";

            for (let i = 0; i < 8; i++) {
                const randomi = Math.floor(Math.random() * set.length);
                id += set[randomi];
            }

            return id;
        }

        // document.getElementById('custom-url').value = generateId()

        function updateCountdownTimers() {
            const timers = document.querySelectorAll('.countdown-timer');

            timers.forEach(timer => {
                const createdAtString = timer.getAttribute('data-created-at');
                const createdAt = new Date(createdAtString);
                const deadline = new Date(createdAt.getTime() + 24 * 60 * 60 * 1000);
                const now = new Date();
                const remainingTime = deadline - now;

                if (remainingTime > 0) {
                    const hours = Math.floor((remainingTime / (1000 * 60 * 60)) % 24);
                    const minutes = Math.floor((remainingTime / 1000 / 60) % 60);
                    const seconds = Math.floor((remainingTime / 1000) % 60);

                    timer.innerHTML = `${hours}h ${minutes}m ${seconds}s`;
                } else {
                    timer.innerHTML = "EXPIRED";
                    timer.classList.add('red');
                }
            });
        }
        updateCountdownTimers();

        setInterval(updateCountdownTimers, 1000);

        document.querySelector('.new-thread-icon').addEventListener('click', () => {
            document.querySelector('.new-thread-icon').style.display = 'none';
            document.querySelector('.new-container').style.display = 'flex';
        });

        document.getElementById('new-thread-button').addEventListener('click', () => {
            const threadId = generateId();
            const title = document.getElementById('new-title').value;
            if (!title) {
                document.getElementById('new-title').classList.add('reminder');
            }
            const description = document.getElementById('new-description').value;
            const data = {
                threadId: threadId,
                title: title,
                description: description
            }
            fetch('/<%= board %>', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
            .then(res => {
                if (res.status == 200) {
                    window.location = `/<%= board %>/${threadId}`
                }
            })
        });
    </script>
</body>
</html>