<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/home.css">
    <link rel="shortcut icon" href="/public/icons/icon.svg" type="image/x-icon">
    <title>Home | LensBrew</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="banner">
        <span class="logo"></span>
        <h1>LensBrew</h1>
    </div>
    <% if (user == 'admin') { %>
        <div id="customConfirmBox">
            <div class="confirm-content">
                <p id="confirmQuestion">Do you want to proceed?</p>
                <div>
                    <button onclick="handleConfirm(true)">Confirm</button>
                    <button onclick="handleConfirm(false)">Cancel</button>
                </div>
            </div>
        </div>
    <% } %>
    <div class="boards">
        <% boards.forEach((board) => { %>
            <a href="/<%= board.id %>">
                <div class="board">
                    <div class="header">
                        <p><%= board.id %></p>
                        <% if (user == 'admin') { %>
                            <span class="delete-board-icon" boardId="<%= board.id %>"></span>
                        <% } %>
                    </div>
                    <div class="divider"></div>
                    <p class="description"><%= board.description %></p>
                </div>
            </a>
        <% }); %>
    </div>
    <% if (user == 'admin') { %>
        <div class="new-board-container">
            <div class="new-container">
                <h3>Creating a new discussion board...</h3>
                <div class="divider"></div>
                <p id="new-title-p">Title*</p>
                <textarea name="" id="new-title" placeholder="Title"></textarea>
                <p>Description</p>
                <textarea name="" id="new-description" rows="5" placeholder="Description"></textarea>
                <button id="new-board-button">Create Board</button>
            </div>
            <div class="new-board-icon">
                <span></span>
            </div>
        </div>
        <script>
            document.querySelector('.new-board-icon').addEventListener('click', () => {
                document.querySelector('.new-board-icon').style.display = 'none';
                document.querySelector('.new-container').style.display = 'flex';
            });

            function showConfirm(question, callback) {
                document.getElementById('confirmQuestion').innerText = question;
                document.getElementById('customConfirmBox').style.display = 'flex';
                confirmCallback = callback;
            }

            function handleConfirm(isConfirmed) {
                document.getElementById('customConfirmBox').style.display = 'none';
                if (isConfirmed && typeof confirmCallback === 'function') {
                    confirmCallback();
                }
                confirmCallback = null;
            }

            document.querySelectorAll('.delete-board-icon').forEach(deleteBtn => {
                deleteBtn.addEventListener('click', (e) => {
                    e.preventDefault();
                    e.stopPropagation();
                    showConfirm('Are you sure you want to delete this board?', () => {
                        const data = {
                            boardId: deleteBtn.getAttribute('boardId')
                        }
                        fetch('/', {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data)
                        })
                        .then(res => {
                            if (res.status == 200) {
                                location.reload();
                            }
                        });
                    });
                });
            });

            document.getElementById('new-board-button').addEventListener('click', () => {
                const title = document.getElementById('new-title').value;
                if (!title) {
                    document.getElementById('new-title').classList.add('reminder');
                }
                const description = document.getElementById('new-description').value;
                const data = {
                    title: title,
                    description: description
                }
                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                })
                .then(res => {
                    if (res.status == 200) {
                        location.reload();
                    }
                })
            });
        </script>
    <% } %>
</body>
</html>