<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/thread.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="overlay"></div>
    <div class="imageModal">
        <div class="model-icon-container">
            <div>
                <span class="edit-image"></span>
            </div>
            <span class="close" onclick="unFocusImage()"></span>
        </div>
        <div class="image-container">
            <img src="" alt="">
        </div>
    </div>
    <div class="posts">
        <div class="post">
            <div class="post-content">
                <div class="post-header">
                    <span class="user"></span>
                    <h2 class="username">gosho ebacha</h2>
                    <h2 class="date">• feb2</h2>
                </div>
                <p class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et ligula elit. Morbi ut dui viverra, sodales enim a, volutpat dui. In non purus suscipit metus maximus pharetra. Etiam rutrum mollis ipsum non tincidunt. Nulla facilisi. Suspendisse posuere mollis quam sed molestie. Nullam congue vitae nibh ut lobortis. Quisque diam velit, vehicula tincidunt finibus sed, auctor sit amet felis. Donec consectetur ut lectus nec pharetra. Praesent augue libero, faucibus id quam sed, rutrum eleifend tortor.

                    Nullam massa eros, tincidunt at euismod ultrices, condimentum vel sem. Fusce dictum lectus in eros luctus suscipit. Ut feugiat pharetra ex, eu eleifend lorem tristique nec. Donec est dui, vulputate at diam et, euismod ornare arcu. Sed a ante et dolor finibus sodales. Proin metus metus, lacinia ut viverra id, maximus maximus arcu. Duis id est et massa vehicula placerat. Vivamus vel eleifend sem, eget mollis massa. Nullam nec neque ac ante laoreet dictum a non nulla.
                    
                    Sed pellentesque ex elementum urna laoreet hendrerit. Praesent varius ex ut convallis consequat. Ut condimentum enim nec iaculis auctor. Integer non quam et nisl iaculis vestibulum. Cras et ipsum sit amet leo venenatis ullamcorper eu eu justo. Etiam placerat ex non eros bibendum finibus. Phasellus suscipit vulputate arcu vitae facilisis. Aenean eu ex cursus, mollis leo non, luctus tellus. Phasellus eu nibh nec turpis aliquam aliquam.
                    
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis feugiat rhoncus magna eu imperdiet. Integer sed orci ac libero cursus porttitor fermentum sed ante. Donec suscipit, dolor et iaculis vestibulum, dui sapien aliquet nunc, sit amet scelerisque arcu libero a eros. Praesent accumsan purus ut augue porta, viverra consectetur nisl feugiat. Cras non vestibulum libero. Ut nisl ligula, placerat non iaculis sit amet, posuere nec urna. Nulla fringilla, elit id venenatis mattis, diam risus blandit ante, vitae luctus nulla est ac odio. Praesent vel leo consequat, dignissim risus et, dictum massa. In hac habitasse platea dictumst. Proin tincidunt metus a velit porttitor malesuada.
                    
                    Nam lorem nunc, sollicitudin ac lorem sit amet, porttitor consectetur ipsum. Sed varius sem a tellus accumsan, quis tincidunt massa placerat. Cras placerat consectetur tincidunt. Quisque molestie quam id ultricies fringilla. Etiam lacinia diam sit amet lorem tempor, at imperdiet lorem sagittis. Nunc in scelerisque lorem. Maecenas feugiat cursus cursus.</p>

                <div class="post-image" onclick="focusImage(this)">
                    <img class="post-image-src" src="/public/images/temp/original/87ca834e-055e-4763-bc6f-ab2bcd32c451.jpg" alt="">
                    <span class="focus-image"></span>
                </div>

                <hr>

                <div class="icon-bar">
                    <span class="heart"></span>
                    <span class="reply"></span>
                </div>
            </div>
            <div class="expand">
                <div>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div id="new-post-container">
        <div>
            <form id="imageForm" enctype="multipart/form-data">
                <input id="image" type="file" name="image" accept="image/png, image/jpeg"/>
                <label id="image-icon" for="image"></label>
                <input id="postText" type="text">
                <button type="submit">Upload</button>
            </form>
        </div>
        <div>
            <img id= "image_view" src="" alt="">
        </div>
        <!-- <form id="imageForm" enctype="multipart/form-data"> -->
        <div>
            <input type="range" name="" id="hue-slider">
        </div>
        <!-- </form> -->
    </div>
    <script>
        const posts = <%- JSON.stringify(posts) %>;

        let fileExt;

        const focusImage = (div) => {
            const modal = document.querySelector('.imageModal');
            document.querySelector('.overlay').style.display = 'block';
            modal.style.display = 'flex';
            modal.querySelector('img').src = div.firstElementChild.src;
        }
        const unFocusImage = () => {
            document.querySelector('.imageModal').style.display = 'none';
            document.querySelector('.overlay').style.display = 'none';
        }

        function generateSessionId() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }
        
        // Store the session ID in session storage
        if (!sessionStorage.getItem('session_id')) {
            sessionStorage.setItem('session_id', generateSessionId());
        }

        function nestPosts(posts) {
            const postMap = new Map();

            posts.forEach(post => postMap.set(post.id, { ...post, replies: [] }));

            posts.forEach(post => {
                if (post.reply_to_id) {
                    postMap.get(post.reply_to_id).replies.push(postMap.get(post.id));
                }
            });

            return Array.from(postMap.values()).filter(post => post.reply_to_id === null);
        }

        function renderPosts(posts, depth = 0) {
            posts.forEach(post => {
                const postsContainer = document.querySelector('.posts');
                const postDiv = document.createElement('div');
                postDiv.className = 'post';
                postDiv.id = post.id;
                postDiv.style.marginLeft = `${depth * 20}px`;

                const p = document.createElement('p');
                p.textContent = post.text;

                const replyIcon = document.createElement('span');
                replyIcon.id = 'reply-icon';

                if (post.images && post.images.length > 0) {
                    const img = document.createElement('img');
                    img.src = `/public/images/archived/${post.images[0].path}`;
                    postDiv.appendChild(img);
                }
                postDiv.appendChild(p);
                postDiv.appendChild(replyIcon);
                postsContainer.appendChild(postDiv);

                if (post.replies && post.replies.length > 0) {
                    renderPosts(post.replies, depth + 1);
                }
            });
        }

        posts.sort((a, b) => new Date(a.createdat) - new Date(b.createdat));
        const nestedPosts = nestPosts(posts);
        renderPosts(nestedPosts);

        // const sessionId = sessionStorage.getItem('session_id');
        // console.log(sessionId)
        // fetch('https://your-backend-endpoint.com/data', {
        //     method: 'POST',
        //     headers: {
        //         'Content-Type': 'application/json',
        //         'Session-ID': sessionId // Include the session ID in the request header
        //     },
        //     body: JSON.stringify({ /* your data */ })
        // })
        // .then(response => response.json())
        // .then(data => console.log(data))
        // .catch(error => console.error('Error:', error));
        document.querySelectorAll('#reply-icon').forEach(reply_btn => {
            reply_btn.addEventListener('click', () => {
                console.log(reply_btn.parentElement.id)
            });
        });

        document.getElementById('postText').addEventListener('keydown', (ev) => {
            if (event.key === 'Enter' || event.keyCode === 13) {
                ev.preventDefault();
                console.log(document.getElementById('postText').value)
                const data = {
                    postId: generateSessionId(),
                    text: document.getElementById('postText').value,
                    ext: fileExt,
                }
                fetch(`<%= thread %>/createPost`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Session-ID': sessionStorage.getItem('session_id')
                    },
                    body: JSON.stringify(data)
                });
                sessionStorage.setItem('session_id', generateSessionId());


                // .then(response => response.json())
                // .then(data => {
                //     document.getElementById('image_view').src = `${data.filepath}?${generateSessionId()}`;
                // });
            };
        });
        
        document.getElementById('image').addEventListener('input', () => {
            const data = new FormData(document.getElementById('imageForm'));
            fileExt = document.getElementById('image').files[0].name.split('.').pop();
            console.log(document.getElementById('image').files[0].name)
            console.log(sessionStorage.getItem('session_id'))
            fetch(`<%= thread %>/upload`, {
                method: 'POST',
                headers: {
                    'Session-ID': sessionStorage.getItem('session_id')
                },
                body: data
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('image_view').src = `${data.filepath}?${generateSessionId()}`;
            });
        });

        document.getElementById('hue-slider').addEventListener('change', () => {
            document.getElementById('image_view').classList.add('blur');
            const data = {
                hue: document.getElementById('hue-slider').value,
                ext: fileExt,
            }
            fetch(`<%= thread %>/filter`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'Session-ID': sessionStorage.getItem('session_id')
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('image_view').src = `${data.filepath}?${generateSessionId()}`;
                document.getElementById('image_view').classList.remove('blur');
            })
        });

        </script>
</body>
</html>