<link rel="stylesheet" href="/public/styles/partials/navbar.css">

<div class="navbar">
    <div class="navbar-navigation">
        <span class="location" onclick="window.location='/'">home</span>
        <span>/</span>
        <span class="location" onclick="window.location='/<%= board %>'"><%= board %></span>
        <% var safeThread = typeof thread !== 'undefined' ? thread : null; %>
        <% if (safeThread) { %>
            <span>/</span>
            <span class="location" onclick="window.location='/<%= board %>/<%= thread %>'"><%= thread %></span>
        <% } %>
    </div>
</div>